[submodule "external/D2.Detours"]
	path = external/D2.Detours
	url = https://github.com/Lectem/D2.Detours
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
